# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Decompiled APK and reverse-engineering artifacts
/sources/
/resources/
/reports/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio and Gradle build artifacts
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
.kotlin/
local.properties
**/android/.gradle/
**/android/local.properties
**/android/.kotlin/
**/android/app/build/
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json

# Windows / C++ build
windows/flutter/ephemeral/
*.exe
*.dll
*.obj
*.pdb
